@media screen and (max-width: 1024px){
    body{
        margin: 0 auto;
        margin-left: 20px;
        overflow-x: hidden;
    }

    .walt{
        width: 100px;
        margin-bottom: -35px;
    }

    .ul-icons{
        height: 100px;
        width: 250px;
    }

    .copyright{
        font-size: 34px;
        margin-left: -38px;
    }
    
    .waltineo{
     margin-right: 20px;
    }

    .lilas{
    display: none;
   }
   .vermelho{
    display: none;
   }
   .amarelo{
    display: none;
   }
   .pac{
    display: none;
   }



}

