@media screen and (max-width: 760px){
    body{
        margin: 0 auto;
        margin-left: 20px;
        overflow-x: hidden;
    }

    .walt{
        width: 100px;
        margin-bottom: -35px;
    }

    .ul-icons{
        display: none;
    }

    .copyright{
        display: none;
    }

    .lilas{
    display: none;
   }
   .vermelho{
    display: none;
   }
   .amarelo{
    display: none;
   }
   .pac{
    display: none;
   }



}

